<!-- contact-page.component.html -->
<div class="wrapper">
  <div class="background"></div>

  <div class="column-one">
      <div class="title">
      <p class="top">I'm Joe again </p>
      <p class="center">& thanks for your interest~</p>
      </div>
      <p>reach me via email here <i class="fas fa-arrow-down"></i>
      </p>
      <a class="email-a" href="mailto:joe.chang.1999@hotmail.com">
          <p class="email">Email <i class="far fa-envelope"></i></p>
      </a>
      <br>
      <p>also available here :</p>
      <div class="hero">
          <ul class="social-links">
              <li><a href="https://github.com/czalbertjoe"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/czalbertjoe/"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://www.instagram.com/im_joe06/"><i class="fab fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/joe.changzavala"><i class="fab fa-facebook"></i></a></li>
          </ul>
      </div>
  </div>
</div>
