<div class="row wrapper">
  <div class="background"></div>  
  
  <!-- Columna 1-->
  <div class="column-one">  
    <div class="container">
      <div class="folder" (click)="showModal('modal1')">
        <p class="folder-label">Frontend Projects</p>
        <div class="folder-inside"></div>
      </div>
    
      <!-- Modal -->
      <div class="modal-card" *ngIf="modal1Visible">
        <div class="modal-header">
          <button class="close-modal" (click)="hideModal('modal1')">X</button>
        </div>
        <div class="modal-body">
          <div class="modal-content"> 
            <ul>
              <li><a href="https://github.com/czalbertjoe/Virtual_Assistant_-ARIA-" target="_blank">First portfolio</a></li>
              <li><a href="https://retro-media-blue.vercel.app/" target="_blank">Retro media blue</a></li>
              <li><a href="https://just-gentleman-e-commerce.vercel.app/" target="_blank">E-commerce page</a></li> 
              <li><a href="https://day-29-joesang.vercel.app/" target="_blank">Click hearts on Anya</a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>  
    <div class="overlay hidden"></div>
  </div>
  <!-- Columna 2-->
  <div class="column-two">
    <div class="container">
      <div class="folder" (click)="showModal('modal2')"> 
        <p class="folder-label">Backend Projects</p>
        <div class="folder-inside"></div>
      </div>
    
      <!-- Modal 2-->
      <div class="modal-card" *ngIf="modal2Visible">
        <div class="modal-header">
          <button class="close-modal" (click)="hideModal('modal2')">X</button>
        </div>
        <div class="modal-body">
          <div class="modal-content"> 
            <ul> 
              <li><a href="https://github.com/czalbertjoe/Virtual_Assistant_-ARIA-" target="_blank">Virtual Assistant (Unity,C#)</a></li>          
              <li><a href="https://github.com/czalbertjoe/Hosting-System-Webfoms" target="_blank">Hosting System C#</a></li>
              <li><a href="https://github.com/czalbertjoe/Brick-Breaker_with_Python_pygame" target="_blank">Brick breaker py</a></li>  
            </ul>
          </div> 
        </div> 
      </div>
    </div>  
    <div class="overlay hidden"></div>
  </div>
<!-- Columna 3-->
  <div class="column-three">
    <div class="container">
      <div class="folder" (click)="showModal('modal3')">
        <p class="folder-label">Other Projects</p>
        <div class="folder-inside"></div>
      </div>
    
      <!-- Modal 3-->
      <div class="modal-card" *ngIf="modal3Visible">
        <div class="modal-header">
          <button class="close-modal" (click)="hideModal('modal3')">X</button>
        </div>
        <div class="modal-body">
          <div class="modal-content"> 
            <ul>
              <li><a href="https://www.instagram.com/imagine_making_studios/" target="_blank">My art account ♡</a></li> 
            </ul>
          </div> 
        </div>
      </div>
    </div>  
    <div class="overlay hidden"></div>
  </div>
</div>
