.parallax {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/ImJoe.png") 75% 30% / 50vh auto no-repeat;
  animation: parallaxAnimation 10s ease infinite alternate; 
}

@keyframes parallaxAnimation {
  0%, 100% {
    transform: translateY(-1vh); 
  }
  50% {
    transform: translateY(-2.2vh); 
  }
}

.info-panels {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
} 

.column-one {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button { 
  display: flex;
  justify-content: space-around; 
  padding: 1em;
  background-color: transparent;
}
 
.show-modal {
  border: none;
  background-color: rgb(219, 219, 219);
  padding: 0.7em 1em;
  margin: 0.2em;
  border-radius: 1em;
  font-weight: bolder;
  cursor: pointer;
  width: 100px;
  align-content: center;
}

.show-modal:hover {
  box-shadow: 0 0 10px #5c6bcd;
}

.show-modal:active {
  background-color: rgb(238, 238, 238);
}

.modal {
  color: white;  
  background-color: transparent;  
  text-align: justify;
  width: 25em;
  height: auto;
  position: absolute;
  bottom: -50px; 
  left: -50px; 
  padding: 1em;
  z-index: 200;
  margin: auto; 
  border-radius: 1.5em;
  box-shadow: 10px 10px 25px 1.2px #9f9de7;
  font-family: MyFont, sans-serif;  
}  

.modal p {
  color: #ff5733; 
}

.modal ul li {
  color: #33ff57;  
}

.modal1-img {
  display: none;
  margin-right: 100px;
} 

.modal1Visible .modal1-img {
  display: block;
} 

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.3em;
}

.close-modal {
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
  background-color: white;
}

.close-modal:hover {
  background-color: rgb(238, 238, 238);
}

.close-modal:active {
  background-color: rgb(89, 89, 89);
}

@media (min-width: 601px) and (max-width: 1200px) {
  .parallax {
    display: none;  
  }
}

@media (max-width: 600px) {
  .parallax {
    position: absolute;
    width: 100%; 
    height: 30vh;  
    background: url("../../assets/images/ImJoeUp.png") 50% 50% / 30vh auto no-repeat;
    top: 320px;  
    animation: parallaxAnimation 10s ease infinite alternate; 
  }
  .modal {
    position: relative;  
    top: -150px;  
    margin: 20px auto;   
    width: 23em; 
    height: auto;
  }
  .button {
    display: flex;
    flex-direction: column;  
  } 
  .show-modal {
    margin-bottom: 20px;   
  } 
  
}  

@media (max-width: 510px) {
  .parallax {
    position: absolute;
    width: 100%; 
    height: 30vh;  
    background: url("../../assets/images/ImJoeUp.png") 50% 50% / 30vh auto no-repeat;
    top: 320px;  
    animation: parallaxAnimation 10s ease infinite alternate;  
  }
  .modal {
    position: relative;  
    top: -150px;  
    margin: 20px auto;   
    width: 20em; 
    height: auto; 
  }
  .show-modal {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 20px;  
    text-align: center; 
  }  
  .button {
    display: flex;
    flex-direction: column; 
    align-items: center;  
  } 
}

.hidden {
  display: none;
} 
