<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">✌️</span>
            Hello! nice to meet you, my
            name is</p>
        <div class="name">
            <p class="p-name">Joesang (조상) Chang (창) 💻</p>
        </div>
        <div class="name">
            <p class="p-first">I am passionate about the world of technology, art, music, games and programming.</p>
            <p class="p-second">Currently my knowledge and technological orientation is focused on: </p>
            <p class="p-second">Web development, video game development and art. 
            <p class="p-third"></p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>